$silver: #C0C0C0;
$white: #ffffff ;
$candyblue: #21BEDE;
$candygreen: #21e342;
$palemagenta: #f564f6;
$raspberry: #ff76ec;
$pink: #FFC0CB;
$candypink: #ff4373;
$grey: #555555;
$black: hsla(0, 0%, 0%, 0.7);
$black2: hsla(0, 0%, 0%, 0.4);
$greylight: hsla(0, 0%, 100%, 0.4);
$grey2: hsla(0, 0%, 100%, 0.8);
$grey3: hsla(0, 0%, 100%, 0);
$black3: hsla(0, 0%, 0%, 0.15);
$black4: hsla(0, 0%, 0%, 0.2);
$oldlace: #fdf5e6;







