$cursor: pointer;
$image_dir: '../assets/';
$font_family1: "Calligraffitti";
$font_family2: "Raleway";
$display: flex;
$box_sizing: border-box;
$align: center;


@mixin width($w) {
    width: $w;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin bradius($br) {
    border-radius: $br;
}

@mixin padding($padver, $padhor) {
    padding: $padver $padhor;
}

%btn {
    display: block;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
}